[Unit]
Description=deckcam1
After=multi-user.target network-online.target

[Service]
ExecStart=/usr/local/bin/startstream.sh /etc/remux/deckcam1.json
KillMode=control-group
Restart=on-failure
TimeoutSec=1

[Install]
WantedBy=multi-user.target
