[Unit]
Description=deckcam1
After=multi-user.target network-online.target

[Service]
ExecStart=/usr/local/bin/startstream.sh /etc/redux/deckcam1.conf
KillMode=control-group
Restart=on-failure
TimeoutSec=1

[Install]
WantedBy=multi-user.target
