[Unit]
Description=Remux RTSP to HLS (%i)
After=multi-user.target network-online.target

[Service]
ExecStart=/usr/local/bin/startstream.sh /etc/remux/%i.json
KillMode=control-group
Restart=on-failure
TimeoutSec=1

[Install]
WantedBy=multi-user.target
